    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/w3.css' />
    <style>
        body {
         background-image: url('images/Lethbridge bridge.jpg');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
        }
    </style>
