<html>
    <head>
        <%- include('headerCommon'); %>
    </head>
    <body>
        <h1><%= display.title %></h1>
        <p>Welcome to <%= display.title %></p>
        <p>Here is a link to the sheets page:
            <a href='/sheets'>SHEETS</a>
        </p>
    <%- include('footerCommon'); %>
