<div class='w3-row'>
    <div class='w3-third'>
        <div class='w3-container'>
            <img src='../images/pinchercreek_associateclinic.jpg' width='300' height='100' class='w3-opacity-min'>
        </div>
    <header>
        <h1><i data-feather="box"></i>&nbsp;<i data-feather="unlock"></i>&nbsp;<%= title %></h1>
        <div class='navbar'>
            <p><a href='/'><i data-feather="home"></i> Home</a> |
                <a href='/notes/add'><i data-feather="plus-square"></i>ADD Note</a> |
                    <a href='/sheets'>Sheets</a></p>
        </div>
    </header>
